/* .devBabyWeek-title {
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.devBabyWeek-content {
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.devBabyTrimester-title {
    text-align: center;
    padding: 20px 20px 20px 20px;
    color: #a45179;
}

.devBabyTrimester {
    color: #a45179;
    border: 1px solid #a45179;  
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px 20px 20px 20px;
} */