
.text-home {
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 23px;
    text-align: center;
}

.date {
    width: 50%;
    display: block;
    margin: auto;
}

.form {
    display:flex;
    padding-top: 20px;
    margin-left: 100px;
    font-size: 17px;
}

.form-radio2 {
    margin-left: 20px;
}

.calendar {
    display:block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.button-to-submit {
    display: block;
    margin-left: 28%;
}

.error {
    text-align: center;
    color: red;
    padding-top: 20px;

}
